/* Genel stil ayarları */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

section {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Bağlantılar */
a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Hakkımda bölümü */
#about {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
}

#about h2 {
    color: #333;
}

#about ul {
    list-style-type: none;
    padding: 0;
}

#about ul li {
    margin-bottom: 10px;
}

/* Main */
main {
    padding: 20px;
    margin: 0 auto; /* Main'i yatayda ortala */
    max-width: 800px; /* Main'in maksimum genişliğini belirle */
}

/* Nav */
nav {
    text-align: center; /* Öğeleri ortala */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block; /* Öğeleri yan yana hizalamak için */
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    background-color: lightgray;
}
